.elementor-6 .elementor-element.elementor-element-7c2d638 > .elementor-container {
  max-width: 1170px;
}

.elementor-6 .elementor-element.elementor-element-7c2d638:not(.elementor-motion-effects-element-type-background), .elementor-6 .elementor-element.elementor-element-7c2d638 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url("/img/home/1.jpg");
  background-position: bottom center;
  background-size: cover;
}

.elementor-6 .elementor-element.elementor-element-7c2d638 > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-7c2d638 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 180px 0px 240px 0px;
}

.elementor-6 .elementor-element.elementor-element-83a7c6a > .elementor-container {
  max-width: 240px;
}

.elementor-6 .elementor-element.elementor-element-208c183 > .elementor-widget-container {
  padding: 0px 0px 20px 0px;
}

.elementor-6 .elementor-element.elementor-element-36b07dd .penci-heading-subtitle {
  color: #ff7043;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.elementor-6 .elementor-element.elementor-element-36b07dd .penci-heading-title {
  color: #ffffff;
  font-family: "Parisienne", Sans-serif;
  font-size: 72px;
}

.elementor-6 .elementor-element.elementor-element-5a23899 .elementor-button {
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #ff7043;
  border-radius: 0px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-5a23899 .elementor-button:hover, .elementor-6 .elementor-element.elementor-element-5a23899 .elementor-button:focus {
  background-color: #111111;
}

.elementor-6 .elementor-element.elementor-element-7d1b802 > .elementor-container {
  max-width: 1230px;
}

.elementor-6 .elementor-element.elementor-element-7d1b802 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}

.elementor-6 .elementor-element.elementor-element-7d1b802 {
  padding: 60px 0px 0px 0px;
  z-index: 10;
}

.elementor-6 .elementor-element.elementor-element-bc6d11b .penci-heading-title {
  font-size: 42px;
  font-style: italic;
  letter-spacing: 0px;
}

.elementor-6 .elementor-element.elementor-element-bc6d11b .penci-heading-content {
  color: #666666;
  font-size: 18px;
  font-style: italic;
  line-height: 1.4em;
}

.elementor-6 .elementor-element.elementor-element-095fda4 .elementor-button {
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #ff7043;
  border-radius: 0px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-095fda4 .elementor-button:hover, .elementor-6 .elementor-element.elementor-element-095fda4 .elementor-button:focus {
  background-color: #111111;
}

.elementor-6 .elementor-element.elementor-element-095fda4 > .elementor-widget-container {
  padding: 20px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-b36164f > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}

.elementor-6 .elementor-element.elementor-element-b36164f:not(.elementor-motion-effects-element-type-background), .elementor-6 .elementor-element.elementor-element-b36164f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}

.elementor-6 .elementor-element.elementor-element-b36164f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -330px;
  margin-bottom: 0px;
  padding: 360px 15px 0px 15px;
}

.elementor-6 .elementor-element.elementor-element-b36164f > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-b36164f > .elementor-shape-top svg {
  height: 90px;
}

.elementor-6 .elementor-element.elementor-element-b36164f > .elementor-shape-bottom svg {
  height: 90px;
}

.elementor-6 .elementor-element.elementor-element-d913b9b > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-bb9702c > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-3c9b5d9:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-3c9b5d9 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url("http://demosoledad.pencidesign.com/soledad-restaurant-mulitpurpose/wp-content/uploads/sites/11/2019/10/6.jpg");
  background-position: center center;
  background-size: cover;
}

.elementor-6 .elementor-element.elementor-element-3c9b5d9 > .elementor-element-populated >  .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.5;
}

.elementor-6 .elementor-element.elementor-element-3c9b5d9 > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 15px 15px 15px 15px;
  padding: 60px 60px 60px 60px;
}

.elementor-6 .elementor-element.elementor-element-3c9b5d9 > .elementor-element-populated > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-228f128 .penci-heading-subtitle {
  color: #ff7043;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.elementor-6 .elementor-element.elementor-element-228f128 .penci-heading-title {
  color: #ffffff;
  font-family: "Parisienne", Sans-serif;
  font-size: 72px;
}

.elementor-6 .elementor-element.elementor-element-d22ad58 > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-e959db9 > .elementor-container {
  max-width: 1200px;
}

.elementor-6 .elementor-element.elementor-element-e959db9 > .elementor-background-overlay {
  opacity: 0.5;
}

.elementor-6 .elementor-element.elementor-element-e959db9 {
  padding: 80px 0px 0px 0px;
  z-index: 10;
}

.elementor-6 .elementor-element.elementor-element-222854c  .penci-heading-content {
  max-width: 540px;
  width: 100%;
}

.elementor-6 .elementor-element.elementor-element-222854c .penci-heading-title {
  font-size: 42px;
  font-style: italic;
  letter-spacing: 0px;
}

.elementor-6 .elementor-element.elementor-element-222854c .penci-heading-content {
  color: #666666;
  font-size: 18px;
  font-style: italic;
  line-height: 1.4em;
}

.elementor-6 .elementor-element.elementor-element-ae36790 > .elementor-container {
  max-width: 1200px;
}

.elementor-6 .elementor-element.elementor-element-ae36790 {
  padding: 10px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-574d717:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-574d717 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}

.elementor-6 .elementor-element.elementor-element-574d717 > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 15px 15px 15px 15px;
  padding: 60px 60px 60px 60px;
}

.elementor-6 .elementor-element.elementor-element-574d717 > .elementor-element-populated > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-4361424  .penci-workingh-lists li {
  margin-bottom: 20px;
}

.elementor-6 .elementor-element.elementor-element-4361424 .penci-workingh-lists .penci-listitem-icon {
  color: #ff7043;
}

.elementor-6 .elementor-element.elementor-element-4361424 .penci-workingh-lists .penci-listitem-title {
  font-size: 18px;
}

.elementor-6 .elementor-element.elementor-element-4361424 .penci-workingh-lists .penci-listitem-hours {
  color: #ff7043;
  font-size: 18px;
}

.elementor-6 .elementor-element.elementor-element-4361424 .penci-border-arrow .inner-arrow {
  font-family: "Parisienne", Sans-serif;
  font-size: 42px;
  text-transform: none;
  letter-spacing: 0px;
}

.elementor-6 .elementor-element.elementor-element-647536e:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-647536e > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}

.elementor-6 .elementor-element.elementor-element-647536e > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 15px 15px 15px 15px;
  padding: 60px 60px 60px 60px;
}

.elementor-6 .elementor-element.elementor-element-647536e > .elementor-element-populated > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-e7d0d87  .penci-workingh-lists li {
  margin-bottom: 20px;
}

.elementor-6 .elementor-element.elementor-element-e7d0d87 .penci-workingh-lists .penci-listitem-icon {
  color: #ff7043;
}

.elementor-6 .elementor-element.elementor-element-e7d0d87 .penci-workingh-lists .penci-listitem-title {
  font-size: 18px;
}

.elementor-6 .elementor-element.elementor-element-e7d0d87 .penci-workingh-lists .penci-listitem-hours {
  color: #ff7043;
  font-size: 18px;
}

.elementor-6 .elementor-element.elementor-element-e7d0d87 .penci-border-arrow .inner-arrow {
  font-family: "Parisienne", Sans-serif;
  font-size: 42px;
  text-transform: none;
  letter-spacing: 0px;
}

.elementor-6 .elementor-element.elementor-element-bfab2b0 > .elementor-container {
  max-width: 1170px;
}

.elementor-6 .elementor-element.elementor-element-bfab2b0:not(.elementor-motion-effects-element-type-background), .elementor-6 .elementor-element.elementor-element-bfab2b0 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url("http://demosoledad.pencidesign.com/soledad-restaurant-mulitpurpose/wp-content/uploads/sites/11/2019/10/7.jpg");
  background-position: center center;
  background-size: cover;
}

.elementor-6 .elementor-element.elementor-element-bfab2b0 > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-bfab2b0 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -220px;
  margin-bottom: 0px;
  padding: 300px 0px 80px 0px;
}

.elementor-6 .elementor-element.elementor-element-41c2128  .penci-heading-content {
  max-width: 700px;
  width: 100%;
}

.elementor-6 .elementor-element.elementor-element-41c2128 .penci-heading-subtitle {
  color: #ffffff;
}

.elementor-6 .elementor-element.elementor-element-41c2128 .penci-heading-title {
  color: #ffffff;
  font-family: "Parisienne", Sans-serif;
  font-size: 48px;
  font-style: italic;
  letter-spacing: 0px;
}

.elementor-6 .elementor-element.elementor-element-41c2128 .penci-heading-content {
  color: #ffffff;
  font-size: 20px;
  font-style: italic;
  line-height: 1.4em;
}

.elementor-6 .elementor-element.elementor-element-6325f33 .elementor-button {
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #ff7043;
  border-radius: 0px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-6325f33 .elementor-button:hover, .elementor-6 .elementor-element.elementor-element-6325f33 .elementor-button:focus {
  background-color: #111111;
}

.elementor-6 .elementor-element.elementor-element-6325f33 > .elementor-widget-container {
  padding: 20px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-71b65ab > .elementor-container {
  max-width: 770px;
}

.elementor-6 .elementor-element.elementor-element-71b65ab {
  padding: 80px 0px 80px 0px;
}

.elementor-6 .elementor-element.elementor-element-ba304b9  .penci-heading-content {
  max-width: 540px;
  width: 100%;
}

.elementor-6 .elementor-element.elementor-element-ba304b9 .penci-heading-title {
  font-size: 42px;
  font-style: italic;
  letter-spacing: 0px;
}

.elementor-6 .elementor-element.elementor-element-ba304b9 .penci-heading-content {
  color: #666666;
  font-size: 18px;
  font-style: italic;
  line-height: 1.4em;
}

.elementor-6 .elementor-element.elementor-element-3b8d529 .penci-testimonail .penci-testi-bq-icon:before {
  color: #ff7043;
  border-color: #ff7043;
}

.elementor-6 .elementor-element.elementor-element-3b8d529 .penci-testi-name {
  color: #111111;
}

.elementor-6 .elementor-element.elementor-element-63eeadf .penci-image-holder:before {
  padding-top: 66.6667%;
}

.elementor-6 .elementor-element.elementor-element-63eeadf  .pencisc-grid {
  grid-row-gap: 0px;
  grid-column-gap: 0px;
}

.elementor-6 .elementor-element.elementor-element-63eeadf .penci-gallery-item a::after {
  background-color: #ff7043;
}

.elementor-6 .elementor-element.elementor-element-4f27ede > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}

.elementor-6 .elementor-element.elementor-element-4f27ede {
  padding: 0px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-cc21f64:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-cc21f64 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}

.elementor-6 .elementor-element.elementor-element-cc21f64 > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 90px 90px 90px 90px;
}

.elementor-6 .elementor-element.elementor-element-cc21f64 > .elementor-element-populated > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-7facd3d  .penci-heading-content {
  max-width: 540px;
  width: 100%;
}

.elementor-6 .elementor-element.elementor-element-7facd3d .penci-heading-title {
  font-size: 42px;
  font-style: italic;
  letter-spacing: 0px;
}

.elementor-6 .elementor-element.elementor-element-7facd3d .penci-heading-content {
  color: #666666;
  font-size: 18px;
  font-style: italic;
  line-height: 1.4em;
}

.elementor-6 .elementor-element.elementor-element-312bdc7  .penci-workingh-lists li {
  margin-bottom: 20px;
}

.elementor-6 .elementor-element.elementor-element-312bdc7 .penci-workingh-lists .penci-listitem-title {
  font-size: 18px;
}

.elementor-6 .elementor-element.elementor-element-312bdc7 .penci-workingh-lists .penci-listitem-hours {
  font-size: 18px;
}

.elementor-6 .elementor-element.elementor-element-312bdc7 > .elementor-widget-container {
  margin: 20px 0px 0px 0px;
}

@media(max-width:1024px) {
  .elementor-6 .elementor-element.elementor-element-8df7830 > .elementor-element-populated {
    padding: 10px 10px 10px 10px;
  }

  .elementor-6 .elementor-element.elementor-element-228f128 .penci-heading-title {
    font-size: 30px;
  }

  .elementor-6 .elementor-element.elementor-element-574d717 > .elementor-element-populated {
    padding: 40px 40px 40px 40px;
  }

  .elementor-6 .elementor-element.elementor-element-647536e > .elementor-element-populated {
    padding: 40px 40px 40px 40px;
  }

  .elementor-6 .elementor-element.elementor-element-50590e6 > .elementor-element-populated {
    padding: 10px 10px 10px 10px;
  }

  .elementor-6 .elementor-element.elementor-element-cc21f64 > .elementor-element-populated {
    padding: 30px 30px 30px 30px;
  }
}

@media(max-width:767px) {
  .elementor-6 .elementor-element.elementor-element-574d717 > .elementor-element-populated {
    padding: 30px 30px 30px 30px;
  }

  .elementor-6 .elementor-element.elementor-element-647536e > .elementor-element-populated {
    padding: 30px 30px 30px 30px;
  }

  .elementor-6 .elementor-element.elementor-element-10ad0ce > .elementor-element-populated {
    padding: 10px 10px 10px 10px;
  }

  .elementor-6 .elementor-element.elementor-element-50590e6 > .elementor-element-populated {
    padding: 10px 10px 10px 10px;
  }
}

@media(min-width:768px) {
  .elementor-6 .elementor-element.elementor-element-3c4b99e {
    width: 59.665%;
  }

  .elementor-6 .elementor-element.elementor-element-b5a3c41 {
    width: 40%;
  }
}

